@charset "UTF-8";

.bg-green {
    background-color: green !important;
    color: white !important;
}

.bg-orange {
    background-color: orange !important;
    color: white !important;
}

.bg-red {
    background-color: red !important;
    color: white !important;
}

.bg-xdarkred {
    background-color: darkred !important;
    color: white !important;
}
